In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import yfinance as yf 
import mplcyberpunk

In [3]:
tickers = ['^BVSP', '^GSPC', 'BRL=X']

In [6]:
dados_mercado = yf.download(tickers, period = '6mo')

dados_mercado = dados_mercado['Adj Close']
dados_mercado

[*********************100%%**********************]  3 of 3 completed

Ticker        BRL=X          ^BVSP        ^GSPC
Date
2024-03-11  4.97754  126124.000000  5117.939941
2024-03-12  4.97740  127668.000000  5175.270020
2024-03-13  4.96870  128006.000000  5165.310059
2024-03-14  4.96920  127690.000000  5150.479980
2024-03-15  4.99270  126742.000000  5117.089844
...             ...            ...          ...
2024-09-04  5.64750  136111.000000  5520.069824
2024-09-05  5.64200  136502.000000  5503.410156
2024-09-06  5.56750  134572.000000  5408.419922
2024-09-09  5.59660  134737.203125  5471.049805
2024-09-10  5.58330            NaN          NaN

[132 rows x 3 columns]

In [7]:
print('hello world')

hello world